---
import { pbFetch } from '@functions';
import Layout from '@layouts/Layout.astro';

const { program_id } = Astro.params;
export async function getStaticPaths() {
    let data = await pbFetch({
        collection: "programs",
        sort: "-created",
    });

    let params: Array<{
        params: {
            program_id: string;
        };
    }> = [];

    data.forEach((element: Article) => {
        params.push({
            params: { program_id: element.id }
        });
    });

    return params;
}

const program: any = await pbFetch({
    collection: 'programs',
    id: program_id
})

const projects = await pbFetch({
    collection: 'projects',
    filter: `program ~ "${program.id}"`
})

---

<Layout 
    title={program.title}
    description={program.title}
>
    <main>
        <section class="padding-inline-50 padding-block-300">
            <container class="margin-inline-auto">        
                <h1>{program.title}</h1>
                <h2>Projekt inom programmet</h2>
                <ul>
                    {projects.map((project: any) => (
                        <li>{project.title}</li>
                    ))}
                </ul>
            </container>
        </section>
    </main>
</Layout>