---
import { pbFetch } from '@functions';
import { year_month } from '@options';
import Layout from '@layouts/Layout.astro';

const { program_id } = Astro.params;
export async function getStaticPaths() {
    let data = await pbFetch({
        collection: "programs",
        sort: "-created",
    });

    let params: Array<{
        params: {
            program_id: string;
        };
    }> = [];

    data.forEach((element: Program) => {
        params.push({
            params: { program_id: element.id }
        });
    });

    return params;
}

const program: any = await pbFetch({
    collection: 'programs',
    id: program_id
})

const projects = await pbFetch({
    collection: 'projects',
    filter: `program ~ "${program.id}"`
})

---

<Layout 
    title={program.title}
    description={program.title}
    url={`https://sustainable-action.org/program/${program_id}`}
    image_url='https://images.unsplash.com/photo-1473984951266-787b955c9e0b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'
>
    <main>
        <section class="padding-inline-50 padding-block-300">
            <container class="margin-inline-auto">
                <container-text>        
                    <a href="/program" class="margin-bottom-100">
                        <img src="/icons/back.svg" width="24" height="24" alt="" />
                        Tillbaka till program
                    </a>
                    <h1>{program.title}</h1>
                    <div set:html={program.description}></div>
                    <h2>Projekt inom programmet</h2>
                    <ul>
                        {projects.map((project: Project) => (
                            <li>
                                <h3>{project.title}</h3>
                                <time datetime={`${project.start_date}`}>
                                    {new Date(project.start_date).toLocaleDateString('sv-SE', year_month)}
                                </time>
                                - 
                                <time datetime={`${project.end_date}`}>
                                    {new Date(project.end_date).toLocaleDateString('sv-SE', year_month)}
                                </time>
                            </li>
                        ))}
                    </ul>
                </container-text>
            </container>
        </section>
    </main>
</Layout>