---
	import Hero from "@components/Hero.astro";
	import NewsCard from "@components/NewsCard.astro";
	import { pbFetch, removeTags } from "@functions";
	import Layout from "@layouts/Layout.astro"
	import Image from "astro/components/Image.astro";

	const articles_latest: pbCollection = await pbFetch({
		collection: "news",
		sort: "-published_date",
		list_options: { page: 1, perPage: 3 },
		expand: 'author'
	});

    const programs: Array<Program> = await pbFetch({
        collection: "programs",
        sort: "-created",
    });

    programs.forEach((program: Program) => {
        const previewString = removeTags(program.description)
        if (previewString && previewString.length > 100) {
            program.preview = `${previewString.slice(0, 97)}...`
        } else if (previewString) {
            program.preview = previewString
        }

    }) 

---

<Layout
	title="Sustainable action foundation"
	description="Vi arbetar för långsiktigt hållbara lokalsamhällen inom de planetära gränserna genom kommunala och regionala färdplaner."
	url="https://sustainable-action.org/"
	image_url="https://images.unsplash.com/photo-1473984951266-787b955c9e0b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
	default_link_color="white"
>
	<main>

		<section class="position-relative padding-inline-50">
			<Hero latest_news={articles_latest} featured_programs={programs} />
		</section>

		<section class="padding-inline-50 padding-block-300" id="about"> 
			<container-text class="margin-inline-auto">
				<h2 class="text-align-center">Om stiftelsen</h2>
				<p>
					<b class="font-weight-bold">Insamlingsstiftelsen</b> arbetar för ett hållbart samhälle inom planetens gränser, 
					med fokus på miljö, klimat, biodiversitet och ekosystem. Genom initiativ 
					som bygger på systemanalyser och samverkan främjar vi projekt som stärker 
					samhällets förmåga att fatta hållbara beslut.
				</p>
				<p>
					Vi stödjer hållbara innovationer inom teknik, policy och arbetssätt, 
					samt erbjuder resurser och utbildning för att stärka andra aktörer med liknande mål. 
					Vår verksamhet omfattar forskning, utveckling, nätverksbyggande och kunskapsspridning, 
					allt för att bidra till ett långsiktigt hållbart samhälle.
				</p>
				<a class="margin-bottom-300 margin-top-200 margin-inline-auto" href="/om">
					Läs mer om oss
					<img src="/icons/chevron-right.svg" alt="" />
				</a>
			</container-text>
		</section>
		
		<section class="padding-inline-50 padding-block-300" id="programs" style="background-color: #e8eaef;">
			<container class="margin-inline-auto">
				<h2 class="text-align-center margin-bottom-300 margin-top-200">Program och projekt</h2>
				<grid class="programs-grid-layout margin-inline-auto">
					{programs.map((program: Program) => (
						<a href={`/program/${program.id}`} class="TODO">
							<article class="padding-50">
								<Image 
									src={`${import.meta.env.PB_URL}/api/files/${program.collectionId}/${program.id}/${program.image}`}  
									alt="" 
									height={1280} width={720} 
									style="width: 100%; height: 176px; border-radius: .25rem;" 
								/>
								<h3 style="font-size: 1.25rem; font-family: 'inter';">{program.title}</h3> 
								<p>{program.preview}</p>
							</article>
						</a>
					))}
				</grid>
				<a class="margin-bottom-300 margin-top-200 margin-inline-auto" href="/program">
					Se alla program
					<img src="/icons/chevron-right.svg" alt="" />
				</a>
			</container>
		</section>

		<section class="padding-inline-50 padding-block-300" id="about"> 
			<container class="margin-inline-auto">
				<h2 class="text-align-center margin-bottom-300">Senaste nyheter</h2>
				<grid class="news-grid-layout margin-inline-auto" style="--nr_columns: 3;">
					{(articles_latest.items as Article[]).map((article: Article) => (
						<NewsCard article={article} />
					))}
				</grid>
				<a class="margin-bottom-300 margin-top-200 margin-inline-auto" href="/nyheter">
					Visa alla nyheter
					<img src="/icons/chevron-right.svg" alt="" />
				</a>
			</container>
		</section>

		<section class="padding-inline-50 padding-block-300" id="contact">
			<container class="margin-inline-auto">
				<h2 class="margin-revert margin-top-100">Kontakt</h2>
				<container-text>
					<form>
						<label class="font-weight-500 block margin-block-100">
							E-postadress
							<input class="margin-block-25" type="email" />
						</label>
						<label class="font-weight-500 block margin-block-100">
							Meddelande
							<textarea class="margin-block-25" style="min-height: 175px;" />
						</label>
						<button type="submit" class="font-weight-500" >Skicka meddelande</button>
					</form>
				<container-text>
			</container>
		</section>

	</main>
</Layout>

<style>
	 h1 {
		font-size: 3rem;
	}

	.cta-neutral {
		background-color: black;
		border-radius: 2px;
		padding: .5rem;
		padding-inline: 1rem;
		line-height: 1;
		display: block;
		width: fit-content;
		color: white;
		text-decoration: none;
		font-weight: 500;
		transition: box-shadow .2s ease,
					background-color .2s ease;
	}

	.cta-neutral:hover {
		background-color: #191919;
		box-shadow: 2px 2px black;
	}

	.TODO {
		text-decoration: none;
		color: black;
	}

	.TODO:hover {
		text-decoration: underline;
	}

</style>