---
import Image from 'astro/components/Image.astro';


interface Props {
	person: Person,
}

const { person } = Astro.props;


---

<article class="flex justify-content-center"> 
    <address>
      {person.portrait ? (
        <Image src={`${import.meta.env.PB_URL}/api/files/${person.collectionId}/${person.id}/${person.portrait}`}  alt="" width="512" height="512" />
      ) : (
        <Image src="/icons/user.svg" alt="" width="512" height="512" />
      )}
      <flex class="flex-direction-column justify-content-flex-end">
        <h3 class="margin-bottom-0 margin-top-75">{person.name}</h3>
        <small>{person.role}</small>
        <span>{person.email}</span>
        <span>{person.phone}</span>
      </flex>
    </address>
</article>

<style>
    
    address {
        width: 100%;
        height: 100%;
        font-style: normal;
    }

    img {
      border-radius: 2px;
      object-fit: cover;
      object-position: top;
      width: 100%;
      height: 256px;
      border-radius: 9999px;
    }

    h3 {
        font-size: 1.25rem;
    }

</style>
