---
import NewsCard from '@components/NewsCard.astro';
import { pbFetch, removeTags } from '@functions';
import Layout from '@layouts/Layout.astro';
import { options } from '@options';
import Image from 'astro/components/Image.astro';

const { article_id } = Astro.params;
export async function getStaticPaths() {
    let data = await pbFetch({
        collection: "news",
        sort: "-published_date",
    });

    let params: Array<{
        params: {
            article_id: string;
        };
    }> = [];

    data.forEach((element: Article) => {
        params.push({
            params: { article_id: element.id }
        });
    });

    return params;
}

const articles_latest: any = await pbFetch({
    collection: "news",
    sort: "-published_date",
    list_options: { page: 1, perPage: 4 },
    expand: 'author'
});

const article: Article = await pbFetch({
    collection: 'news',
    id: article_id,
    expand: 'author'
})

const previewString = removeTags(article.text)
if (previewString && previewString.length > 100) {
    article.preview = `${previewString.slice(0, 97)}...`
} else if (previewString) {
    article.preview = previewString
}


---

{/* TODO: Is the description okay?? */}
<Layout
    title={`${article.title} - Sustainable action foundation`}
    description={article.preview ?? article.title} 
>   
    <main>
        <block class="padding-inline-50">
            <container class="margin-inline-auto padding-block-300">
                <article class="flex gap-100 flex-wrap-wrap-reverse justify-content-space-between align-items-flex-end">
                    <container-text>
                        <h1 class="margin-bottom-25 margin-top-0">{article.title}</h1>
                        <block>
                            Publicerad
                            <time datetime={article.published_date.toString()}>
                                {new Date(article.published_date).toLocaleDateString('sv-SE', options)}
                            </time>
                        </block>
                        <block set:html={article.text}></block>
                        <address>Av: {article.expand.author.name}</address>
                        <small class="block margin-top-25" style="color: gray;">
                            Artikel senast uppdaterad
                            <time datetime={article.updated.toString()}>
                                {new Date(article.updated).toLocaleDateString('sv-SE', options)}
                            </time>
                        </small>
                    </container-text>
                    {article.banner ? (
                        <Image src={`${import.meta.env.PB_URL}/api/files/${article.collectionId}/${article.id}/${article.banner}`}  alt="" height="1080" width="1920" />
                    ) : (
                        <img src='/images/article.png' alt="" height="320" />
                    )}
                </article>
            </container>
        </block>
    </main>
    <nav class="padding-inline-50 padding-block-300" style="background-color: #f9f9f9;">
        <container class="margin-inline-auto">
            <flex class="justify-content-space-between gap-50 margin-bottom-200 padding-bottom-100" style="border-bottom: 1px solid lightgray;">
                <h2 class="margin-0">Fler nyheter</h2>
                <a href="/nyheter">
                    Visa alla nyheter
                    <img src="/icons/chevron-right.svg" alt="" />
                </a>
            </flex>
            {/* TODO: Do like a smaller listview type thing for this */}
            <grid class="news-grid-layout margin-inline-auto" style="--nr_columns: 4;">
                {articles_latest.items.map((article: Article) => (
                    <NewsCard article={article} />
                ))}
            </grid>
        </container>
    </nav>
</Layout>

<style>
    article > img {
        border-radius: 2px;
        object-fit: cover;
        width: min(350px, 100%);
        height: 350px;
    }
</style>