---
import Dropdown from '@components/Dropdown.astro'
import Hamburger from '@components/Hamburger.astro';
import '@styles/main.css';
import '@styles/layouts.css'


interface Props {
	title: string,
	description: string,
	url: string,
	image_url: string,
}

const { title, description, url, image_url } = Astro.props;

const hem: Route = {
	text: "Hem", 
	href: "/",
}

const om: Route = {
	text: "Om", 
	href: "/om",
    subroutes: [
        {text: "Om", href: "/om"},
        {text: "Medarbetare", href: "/medarbetare"}
    ]
}

const program_and_projects: Route = {
	text: 'Program & projekt',
	href: '/program'
}

const nyheter: Route = {
	text: "Nyheter", 
	href: "/nyheter"
}

const links = [
	hem,
	om,
	program_and_projects,
	nyheter
]


---

<html lang="se">
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

		<title>{title}</title>
		<meta name="description" content={description}>

		<meta name="viewport" content="width=device-width" />		
		<meta name="generator" content={Astro.generator} />
		<meta charset="utf-8" />

		{/* Required Open graph Meta Tags */}
		{/* https://ogp.me/ */}
		<meta property="og:title" content={title} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={url} />
		<meta property="og:image" content={image_url} />
		{/* Define alt property for image */}

		{/* Optional open graph Meta Tags */}
		<meta name="og:site_name" content="Sustainable Action Foundation" />
		<meta property="og:description" content={description} />

		<script>
			const header = document.getElementsByTagName("header")[0];
			header.style.backgroundColor = 'unset';
			window.onscroll = function() {
				if (window.scrollY > 0) { // Do seperate scroll levels for different pages?
					header.style.transition = 'background-color .2s ease'
					header.style.backgroundColor = 'rgba(245, 245, 245, .92)';
					header.style.backdropFilter = 'blur(2px)'
				} else {
					header.style.transition = 'background-color .2s ease'
					header.style.backgroundColor = 'unset';
					header.style.backdropFilter = 'unset'
				}
			};
        </script>

	</head>
	<body>
		<header class="position-sticky padding-50 flex justify-content-space-between">
			<a href="/" class="font-weight-500 flex align-items-center gap-100">
				<img src="/favicon.jfif" width="40" height="40" style="border-radius: .25rem;" />
			</a>
			<flex class="align-items-center justify-content-flex-end gap-100">
				<nav class="flex align-items-center gap-100">
					{links.map((route: Route) => 
						<>
							{!route.subroutes &&
								<a href={route.href}>{route.text}</a> 
							} 
							{route.subroutes && 
								<Dropdown route={route} /> 
							}
						</>
					)}
				</nav>
			</flex>
			<a href="/#contact" class="call-to-action">Kontakta oss</a>
			<div class="hamburger">
				<Hamburger links={links} />
			</div>
		</header>
        <slot></slot>
		<footer class="padding-inline-50 padding-block-300">
			<container-text class="margin-inline-auto">
				<flex class="align-items-center justify-content-space-between gap-100 flex-wrap-wrap-reverse">
					<nav class="flex gap-50 align-items-center">
						<a href="https://www.linkedin.com/company/stiftelsen-sustainable-action/posts/" target="_blank">
							<img src="/icons/linkedin.svg" width="24" height="24">
						</a>
						<a href="https://mastodon.social/@sustainableaction" target="_blank">
							<img src="/icons/mastodon.svg" width="24" height="24">
						</a>
						<a href="https://bsky.app/profile/sustainable-action.org" target="_blank">
							<img src="/icons/bluesky.svg" width="24" height="24">
						</a>
					</nav>
					<div>
						<script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" is:inline defer></script>
						<div id="wcb" class="carbonbadge"></div>
					</div>
				</flex>
				<flex class="gap-100 flex-wrap-wrap justify-content-space-between">
					<div>
						<h2 class="margin-bottom-75">Genvägar</h2>
						<nav class="flex flex-direction-column gap-25">
							<a href="/">Hem</a>
							<a href="/om">Om</a>
							<a href="/program">Program</a>
							<a href="/medarbetare">Medarbetare</a>
							<a href="/nyheter">Nyheter</a>
						</nav>
					</div>
					<div>
						<h2 class="margin-bottom-75">Kontakt</h2>
						<address>
							ins. stift. Sustainable Action Foundation <br />
							Org.nr: 802482-3919 <br />
							c/o Mikael Kilter <br />
							Vegagatan 36 <br />
							413 09 Göteborg
						</address>
					</div>
				</flex>
			</container-text>
		</footer>
	</body>
</html>

<style>
    body {
        margin: 0;
        background-color: rgb(245, 245, 245);
    }

	header {
		top: 0;
		z-index: 9999;
		background-color: rgb(245, 245, 245, .92);
		backdrop-filter: blur(2px);
		border-radius: .25rem;
		margin-inline: .5rem;
		margin-top: .5rem;
		top: .5rem;
	}

	header:has(input[type="checkbox"]:checked) {
        background-color: rgba(245, 245, 245, .92) !important;
    }

	header a:not(.call-to-action) {
		color: white;
		font-weight: 500;
		text-decoration: none;
		text-underline-offset: 2px;
	}

	header a:hover:not(.call-to-action, :has(img[src="/favicon.jfif"])) {
		text-decoration: 2px underline;
	}

	.call-to-action {
		text-wrap: nowrap;
		text-decoration: none;
		font-weight: 500;
		border-radius: .25rem;
		padding: .5rem;
		background-color: black;
		color: white;
		transition: box-shadow .2s ease,
					background-color .2s ease;
		display: grid;
		place-content: center;
		line-height: 1;
	}

	.call-to-action:hover {
		background-color: #191919;
		box-shadow: 2px 2px black;
	}

    .hamburger {
		display: none;
		@media(max-width: 850px) {
			display: initial;
		}
	}

	header nav {
		@media(max-width: 850px) {
			display: none;
		}
	}


	/* Footer */
	footer {
		border-top: 1px solid #e0e6eb;
		box-shadow: 0 -.5rem .5rem -.75rem lightgray;
	}
 

	footer a {
		color: black;
		text-decoration: none;
	}

	footer a:hover {
		text-decoration: underline;
	}

	a:has(img[src="/icons/linkedin.svg"]), 
	a:has(img[src="/icons/mastodon.svg"]),
	a:has(img[src="/icons/bluesky.svg"]) {
		padding: .5rem;
		display: grid;
		border-radius: 9999px;
		transition: background-color .2s ease;
	}

	a:has(img[src="/icons/linkedin.svg"]):hover,
	a:has(img[src="/icons/mastodon.svg"]):hover,
	a:has(img[src="/icons/bluesky.svg"]):hover {
		background-color: #e0e6eb;
	}


</style>